= form_for @category do |f|
  - @category.errors.full_messages.each do |error|
    = error

  = f.label :parent
  = f.select("parent_id", @categories.collect{|p| [ p.name, p.id ] }, {:include_blank => 'Select category'})

  = f.label :name
  = f.text_field :name

  = f.submit