.category_form
  %h2 Category
  .form-horizontal.category_page{role: "form"}
    = form_for @category do |f|
      - @category.errors.full_messages.each do |error|
        = error
      .form-group
        = f.label :parent_category
        .col-sm-10
          = f.select("parent_id", @categories.collect{|p| [ p.name, p.id ] }, {:include_blank => 'Select category'})
      .form-group
        = f.label :name
        .col-sm-10
          = f.text_field :name
      .form-group
        .col-sm-10
          = f.submit "save", :class => "btn btn-default"