.form-horizontal.products_page{role: "form"}
  .row
    - @products.each do |product|
      .col-sm-6.col-md-4
        %a.thumbnail
          - product.pictures.each do |photo|
            = image_tag photo.image(:thumb)
          .caption
            %p
              = product.product_name
            %p
              = product.price
            %p
              = product.description
          = link_to "Destroy", category_product, :method => :delete, :confirm => "Are you sure", :class => "btn btn-min btn-danger"
          = link_to "Edit", edit_category_product(@category,product), :class => 'btn btn-mini',:remote => true
  = link_to "Add Product", new_category_product_path(@category), :class => "btn btn-default add_product"