- @products.each do |product|
  %span
    = product.product_name
  - product.pictures.each do |photo|
    %a
      = image_tag photo.image(:thumb)
  %span
    = product.price
  %p
    = product.description
= link_to "Add Product", new_product_path