.form-horizontal.products_page{role: "form"}
  - @products.each do |product|
    .product_lists
      .form-group
        .col-sm-10
          = product.product_name
      - product.pictures.each do |photo|
        .form-group
          .col-sm-10
            = image_tag photo.image(:thumb)
      .form-group
        .col-sm-10
          = product.price
      .form-group
        .col-sm-10
          = product.description
      = link_to "Destroy", product, :method => :delete, :confirm => "Are you sure", :class => "btn btn-min btn-danger"
      = link_to "Edit", edit_product_path(product), :class => 'btn btn-mini',:remote => true
  = link_to "Add Product", new_product_path, :class => "btn btn-default add_product"